#map{ height: 500px; }
#hero { height: 20vh; background-color: #78c9c4; vertical-align: middle; text-align: center; padding-top: 20px;}
#hero h1 {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;;
}
#hero p {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200; 
}
#info-list {
    position: absolute;
    top: 50vh;
    background-color: rgba(255, 255, 255, .5);
    padding: 30px;
}
#info-list ul {
    list-style: none;
}
#map { position: relative; width:100%; height: 60vh;}
#menu {
background: #fff;
position: absolute;
z-index: 1;
top: 10px;
right: 10px;
width: 120px;
border: 1px solid rgba(0,0,0,0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0,0,0,0.25);
text-align: center;
}

#menu a:last-child {
border: none;
}

#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}

#menu a.active {
background-color: #3887be;
color: #ffffff;
}

#menu a.active:hover {
background: #3074a4;
}
#info-panel {
height: 20vh;
background-color: #78c9c4
}