<div id="map">
    <div id="dashboard" class="col-sm-12">
        <div id="station_info" class="row">
            <!--<h2>Matarlandslagið</h2>-->
                <div class="col-sm-4">
                    
                </div>
                <div id="station_card" class="col-sm-4">
                <img id="foodinc" src=""/>
                <h3 id="info"></h3>
                <h5 id="location"></h5>
                <h5 id="foodtype"></h5>
                <h5 id="foodtypeII"></h5>
                </div>
                <div class="col-sm-4">
                    
                </div>
            
        </div>
    </div>
</div>

