
#map { position:absolute; top:0; bottom:0; width:100%; }

#dashboard {
    position: absolute;
    bottom: -550px;
    transition: .3s;
}

h5, h6 {
    font-family: "source sans pro";
}

h3 {
    font-size: 1.2rem;
}

#station_card {
    z-index: 100;
    background-color: white;
    opacity: 0.9;
    bottom: 0px;
    color: #818182;
    transition: .2;
    width: 100%;
    text-align: center;
    border: 1px solid #d6d6d6;
    padding: 0px;
}

#station_card div {
    padding: 3% 7%;
}

#station_card h2 {
font-size: 2rem;
color: #17a2b8;
text-transform: uppercase;
letter-spacing: 3px;
font-family: montserrat;
padding-bottom: 5px;
}

#info {
    color: white;
    padding: 12px;
    padding-left: 12px;
    font-family: montserrat;
    font-size: 14px;
}

#tagline {
    text-align: center;
    font-family: sans-serif;
    color: rgb(180, 180, 180);
    font-weight: 100;
    letter-spacing: .6px;
    padding: 5px;
}

.iconwrap {
    text-align: center;
}

.iconwrap img {
    height: 70px;
}

#foodinc {
    height: 35px;
}

#foodtype, #foodtypeII, #location {
    font-size: 1rem;
    color: black;
}

#primary-producer {
    display: -webkit-inline-box;
    list-style: none;
    padding-left: 0px;
}

#primary-producer li {
    margin-right: 15px;
}

#matis_logo {
    height: 100px;
    padding: 2%;
}

#menu {
    text-align: center;
    display: -webkit-inline-box;
    cursor: pointer;
    margin-top: 18px !important;
    z-index: 100;
}

#menu[_ngcontent-c1] > li {
    cursor: pointer !important;
}

#menu > .list-group-item {
    color: black !important;
    border: none !important;
    margin-bottom: none !important;
}

#menu[_ngcontent-c1] .list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

#tabs {
    position: absolute;
    bottom: 0px !important;
    z-index: 2;
    text-align: center;
    font-size: 14px;
}

.details {
    text-align: left;
}

#close_button {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 15px;
}

.map-overlay .listing {
    overflow: auto;
    max-height: 100%;
    position: absolute;
    list-style: none;
    max-width: 200px;
    background-color: #ffffff70;
    margin-top: 35px;
}

#feature-listing li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.map-overlay .listing a:last-child {
    border: none;
}

.map-overlay .listing a:hover {
    background: #f0f0f0;
}