
<div class="wrapper">
        
            <!-- Sidebar -->
            <nav id="sidebar">
                <app-list></app-list>
            </nav>
        
            <!-- Page Content -->
            <div id="content" class="col-sm-12">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                    </button>
                <app-map></app-map>
            </div>
        
</div>
