
          <!-- Sidebar Links -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                        <img src="../assets/img/Matis_logo_blatt-01.png" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                            
                    </li>
            
                    <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Markaðir
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Bændamarkaður Hofósi</a>
                              <a class="dropdown-item" href="#">Bændamarkaður Hvolsvelli</a>
                            </div>
                          </li>-->

                          <form autocomplete="off">
                            <div class="autocomplete" style="width:300px;">
                              <input id="theinput" type="text" (keyup)="onKey($event)" placeholder="Frumframleiðandi">
                              <div *ngIf="showDropDown" class="list-dropdown">
                                  <div>
                                    <div (click)="selectValue(filter)" class="producers" *ngFor="let filter of filtered">
                                        {{filter}} 
                                    </div>    
                                  </div> 
                                </div>
                            </div>
                            <input type="button" value="Finna stað" id="leit-btn">
                          </form>
                                                     
                  </ul>

                  
                </div>
              </nav>

              
  
              
              
  


