.sidebar-header {
    padding: 5%;
    text-align: center;
}

.sidebar-header h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.pp-leit {
    color: rgb(1, 102, 94);
    border-color: rgb(1, 102, 94)
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 50px;
}

#navbarSupportedContent ul {
    margin: 0 auto;
}

